:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --decorative-color: #2196f3;
  --main-background-color: #2f303a;
  --black-color: #000000;
  --second-background-color: #f5f4fa;
  --menu-border-color: #ECECEC;
  --portfolio-list-border-color: #EEE;
  --icon-first-color: #AFB1B8;
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: var(--main-font), "Raleway", sans-serif;
  color: var(--main-color);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .container {
  padding: 118px 0;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .page-header .container {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .hero .container {
    padding: 200px 0;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.second-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .second-heading {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.third-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .third-heading {
    text-align: left;
  }
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__span {
  color: var(--decorative-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--decorative-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.socials:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  fill: var(--icon-first-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--light {
  transition-property: fill, background-color;
}

.socials__link--light:hover, .socials__link--light:focus {
  fill: var(--white-color);
  background-color: var(--decorative-color);
}

.socials__link--dark {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}

.socials__link--dark:hover, .socials__link--dark:focus {
  background-color: var(--decorative-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
  white-space: pre;
}

.address__span {
  display: inline-block;
  margin-bottom: 9px;
}

.address__contact {
  display: inline-block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover, .address__contact:focus {
  color: var(--decorative-color);
}

.address__contact:not(:last-child) {
  margin-bottom: 9px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--menu-border-color);
}

.page-header__list {
  display: none;
}

.page-header__logo {
  color: var(--black-color);
}

.page-header__burger-icon {
  width: 24px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__burger-icon:hover, .page-header__burger-icon:focus {
  fill: var(--decorative-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .page-header__burger-icon {
    display: none;
  }
  .page-header__list {
    display: block;
  }
  .page-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .page-header__mail-icon {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
  .page-header__phone-icon {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
  .page-header__contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--second-color);
    fill: var(--second-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__contact:hover, .page-header__contact:focus {
    color: var(--decorative-color);
    fill: var(--decorative-color);
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .page-header__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-header__item:not(:last-child) {
    margin: 0;
    margin-right: 30px;
  }
  .page-header__mail-icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .page-header__phone-icon {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
  .page-header__contact {
    font-size: 14px;
    line-height: 1.143;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: inline-block;
  }
  .navigation__item:not(:last-child) {
    margin-right: 60px;
  }
  .navigation__list {
    margin-right: 101px;
    margin-left: 83px;
  }
  .navigation__link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--decorative-color);
  }
  .navigation__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: var(--decorative-color);
    transform: translateY(25px);
    border-radius: 2px;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover::after, .navigation__link:focus::after {
    height: 4px;
    transform: translateY(32.25px);
  }
  .navigation__link--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--decorative-color);
    transform: translateY(32.25px);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation__list {
    margin-right: 345px;
    margin-left: 93px;
  }
  .navigation__link::after {
    transform: translateY(25px);
  }
  .navigation__link:hover::after, .navigation__link:focus::after {
    transform: translateY(30.25px);
  }
  .navigation__link--active::after {
    transform: translateY(30.25px);
  }
}

.hero {
  padding: 0;
  background-color: var(--main-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgroundmobile1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero__heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  padding: 10px 41px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgroundmobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgroundtablet1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgroundtablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgrounddesktop1x.jpg");
  }
  .hero__heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/backgrounddesktop@2x.jpg");
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.advantages__icon {
  background-color: var(--second-background-color);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages__paragraph {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 0;
  margin-top: 10px;
}

.advantages__item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
  }
  .advantages__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 0;
    margin-top: 30px;
    margin-right: 30px;
  }
  .advantages__item:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
  }
  .advantages__item {
    margin: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__item:not(:first-child) {
    margin-top: 0;
  }
}

.activities {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activities {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }
  .activities__label {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 90px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .activities__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
  }
  .activities__item {
    position: relative;
  }
  .activities__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team {
  background-color: var(--second-background-color);
}

.team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__figure {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}

.team__caption {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__span {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-top: -30px;
    margin-right: -30px;
  }
  .team__item {
    flex-basis: calc(100%/2 - 30px);
    margin-right: 30px;
    margin-top: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100%/4 - 30px);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  list-style: none;
}

.clients__item {
  flex-basis: calc(100%/2 - 30px);
  margin-top: 30px;
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid var(--icon-first-color);
  fill: var(--icon-first-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--decorative-color);
  border-color: var(--decorative-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100%/3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100%/6 - 30px);
  }
}

.page-footer {
  background-color: var(--main-background-color);
  padding: 0;
}

.page-footer__third-heading {
  color: var(--white-color);
  margin-bottom: 20px;
}

.page-footer__logo {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}

.page-footer__address-container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__address {
  margin-right: 70px;
}

.page-footer__form-container {
  margin-left: 78px;
}

.page-footer__form {
  display: flex;
  align-items: center;
}

.page-footer__button {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 42px;
  padding-right: 27px;
}

.page-footer__icon {
  margin-left: 24px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

.page-footer__input {
  width: 358px;
  padding: 15px 0;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.page-footer__input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.close-btn {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
}

.filters {
  padding-bottom: 34px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--second-background-color);
  box-shadow: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: var(--white-color);
  background-color: var(--decorative-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  padding-top: 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  list-style: none;
}

.projects__caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding: 20px 24px;
  border: 1px solid var(--portfolio-list-border-color);
  border-top: none;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.projects__container {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}

.projects__paragraph {
  font-size: 18px;
  line-height: 1.556;
  color: var(--white-color);
  margin: 0;
}

.projects__item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.projects__item:nth-of-type(3n) {
  margin-right: 0;
}

.projects__figure {
  margin: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects__figure .projects__overlay {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__figure:hover .projects__overlay {
  transform: translateY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  min-height: 609px;
  background-color: var(--white-color);
  padding: 40px;
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal__form {
  display: block;
}

.modal__field {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 10px;
}

.modal__field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__area-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal__policy-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__button {
  display: block;
  padding: 10px 76px;
  margin: 0 auto;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: none;
  border-color: var(--decorative-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--decorative-color);
}

.modal__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message:focus {
  outline: none;
  border-color: var(--decorative-color);
}

.modal__message:placeholder-shown {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.modal__policy-label::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.85;
}

.modal__policy-input:checked + .modal__policy-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  opacity: 1;
}

.modal__policy-link {
  display: inline-block;
  margin-left: 3px;
  color: var(--decorative-color);
}

.modal__policy-link:not(:last-of-type) {
  margin-right: 3px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  padding: 48px 40px;
  padding-right: 17.291vw;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-list {
  display: block;
  flex-grow: 1;
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-list {
  display: block;
  margin-bottom: 64px;
}

.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--decorative-color);
}

.mobile-menu__social-list {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mobile-menu__close-btn {
  width: 40px;
  height: 40px;
  padding: 7px;
  border: none;
  top: 10px;
  right: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover {
  fill: var(--decorative-color);
}

.mobile-menu__nav-link {
  font-weight: 500;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--decorative-color);
}

.mobile-menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__mail:hover, .mobile-menu__mail:focus {
  color: var(--decorative-color);
}

.mobile-menu__social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.223;
  letter-spacing: 0.02em;
  color: var(--decorative-color);
  position: relative;
}

.mobile-menu__social-item {
  position: relative;
}

.mobile-menu__social-item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: translateX(-10px);
}
/*# sourceMappingURL=main.css.map */