.is-active::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: var(--decorative-color);
      transform: translateY(31.25px);
      border-radius: 2px;
}