:root {
      --main-font: "Roboto", sans-serif;
      --second-font: "Raleway", sans-serif;
      --main-color: #212121;
      --second-color: #757575;
      --white-color: #ffffff;
      --decorative-color: #2196f3;
      --main-background-color: #2f303a;
      --black-color: #000000;
      --second-background-color: #f5f4fa;
      --menu-border-color: #ECECEC;
      --portfolio-list-border-color: #EEE;
      --icon-first-color: #AFB1B8;
}